In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [23]:
# reads = pd.read_csv('../QIIME2.2/per-sample-fastq-counts.tsv', sep = '\t')
# reads[reads['sample ID'].str.contains('B')]

In [24]:
reads = pd.read_csv('../QIIME2.2/per-sample-fastq-counts.tsv', sep = '\t')
reads = reads[~reads['sample ID'].str.contains('A')]
reads = reads[~reads['sample ID'].str.contains('B')]
print(reads.sum())
print(reads.mean())
print(reads.std())
reads.head()

sample ID                 L54L108L2L125L128L113L99L95L20L141L110L84L119L...
forward sequence count                                              2086769
reverse sequence count                                              2086769
dtype: object
forward sequence count    14491.451389
reverse sequence count    14491.451389
dtype: float64
forward sequence count    11971.764224
reverse sequence count    11971.764224
dtype: float64

   sample ID  forward sequence count  reverse sequence count
5        L54                  126351                  126351
9       L108                   77289                   77289
10        L2                   26613                   26613
11      L125                   24376                   24376
12      L128                   23115                   23115

In [18]:
filtering = pd.read_csv('../QIIME2.2/metadata.tsv', sep = '\t', skiprows = [1])
filtering = filtering[~filtering['sample-id'].str.contains('A')]
filtering = filtering[~filtering['sample-id'].str.contains('B')]
print(filtering.sum())
print(filtering.mean())
print(filtering.std())
filtering.head()

sample-id                            L1L10L100L101L102L103L104L105L106L107L108L109L...
input                                                                          2086769
filtered                                                                       2014576
percentage of input passed filter                                              13834.8
denoised                                                                       2000107
merged                                                                         1957360
percentage of input merged                                                       13298
non-chimeric                                                                   1916429
percentage of input non-chimeric                                               13086.6
dtype: object
input                                14491.451389
filtered                             13990.111111
percentage of input passed filter       96.074653
denoised                             13889.631944
merged                               13592.777778
percentage of input merged              92.347431
non-chimeric                         13308.534722
percentage of input non-chimeric        90.879514
dtype: float64
input                                11971.764224
filtered                             11627.462355
percentage of input passed filter        3.684984
denoised                             11604.186038
merged                               11410.425388
percentage of input merged              11.381776
non-chimeric                         10814.701954
percentage of input non-chimeric        11.345912
dtype: float64

,sample-id,input,filtered,percentage of input passed filter,denoised,merged,percentage of input merged,non-chimeric,percentage of input non-chimeric
28,L1,3395,3285,96.76,3271,3167,93.28,3167,93.28
29,L10,7570,7457,98.51,7416,7327,96.79,7327,96.79
30,L100,12782,12542,98.12,12517,12415,97.13,12389,96.93
31,L101,13949,13484,96.67,13298,12585,90.22,12446,89.23
32,L102,14909,14659,98.32,14576,14316,96.02,14262,95.66